.section.header {
	height: 100vh;
	margin: 0 auto;
	width: 100vh;

	h1 {
		opacity: 1;
		font-family: 'Old Standard TT', serif;
		margin: 40% auto;
	}
}

.cssanimations .section.header h1 {
  opacity: 0;
  margin: 0 auto;
  -webkit-animation: fadeIn 2s ease-in-out; /* Chrome, Safari, Opera */
  animation: fadeIn 2s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; 
  -webkit-animation-delay: 1s !important; /* Chrome, Safari, Opera */
  animation-delay: 1s !important;  
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(80px);
    }
}
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    	-webkit-transform: translateY(80px);
    }
}