.nav-icon {
	cursor: pointer;
	position: fixed;
	top: 40px;
	left: 40px;
	z-index: 11;
	@include transition(400ms, all, ease-in-out);

	@media screen and (max-width: 767px) {
		top: 20px;
		left: 20px;
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-ms-transform: scale(0.5);
	}
}
.nav-icon:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);

	@media screen and (max-width: 767px) {
		transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-ms-transform: scale(0.6);
	}		
}
.navigation-container {
	background-color: #444;
	height: 100vh;
	left: 0;
	opacity: 0.8;
	overflow: hidden;
	position: fixed;
	text-align: left;
	top: 0;
	width: 0;
	@include transition(500ms, all, ease-in-out);
}

.navigation-container.open {
	width: 300px;
	z-index: 11;
}

.navigation-container .navigation-inner-container {
	padding-top: 120px;
}

.navigation-container h4,
.navigation-container .navigation {
	position: absolute;
	width: 300px;
}
.navigation-container h4 {
	font-family: 'Old Standard TT', serif;
	font-size: 26px;
	padding-left: 40px;
	padding-top: 20px;
}

.navigation-container .navigation {
	padding-top: 80px;
}

.navigation-container .navigation li {
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navigation-container h4,
.navigation-container .navigation li a {
	color: #fff;
}

.navigation-container .navigation li a {
	cursor: pointer;
}

