.royal {
	margin: 0 auto;
	max-width: 650px;
	min-height: 400px;

	&:after {
		@include wrap-children;
	}
}

.line {
	background-color: #f7f7f7;
	height: 300px;
	margin: 30px auto 0;
	padding: 60px 0;
	width: 1px;
}

svg {
  margin: 10px auto;
  max-width: 640px;
}

.path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

.information-container {
	background-color: #F6f6f6;
	overflow: hidden;
	margin-top: 20px;
	@include transition(all, .5s, ease-in-out);

	ul li {
		color: #7F8085;
		text-align: left;
		padding-top: 10px;
		padding-bottom: 10px;
		list-style-type: none;
	}
}

.information-container.open {
	opacity: 1;
}

.read-more {
	cursor: pointer;
	margin-top: 20px;
}

.read-more .glyphicon.glyphicon-chevron-down {
	margin-left: 10px;
	@include transition(all, .5s, ease-in-out);
}

.read-more .glyphicon.glyphicon-chevron-down.closed {
    -webkit-animation: arrowReturn 1s ease-in-out; /* Chrome, Safari, Opera */
    animation: arrowReturn 1s ease-in-out;
	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
	-webkit-animation-delay: 0s !important; /* Chrome, Safari, Opera */
	animation-delay: 0s !important;  
}

.read-more .glyphicon.glyphicon-chevron-down.flip {
    -webkit-animation: arrowFlip 1s ease-in-out; /* Chrome, Safari, Opera */
    animation: arrowFlip 1s ease-in-out;
	-webkit-animation-fill-mode: forwards;
  	animation-fill-mode: forwards;
	-webkit-animation-delay: .25s !important; /* Chrome, Safari, Opera */
	animation-delay: .25s !important;  
}

@keyframes arrowFlip {
    0% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(180deg) translateY(-33px);  
    }

    100% {
      transform: rotate(180deg) translateX(50px) translateY(-33px);
    }
}
@-webkit-keyframes arrowFlip {
    0% {
      -webkit-transform: rotate(180deg); 
    }

    50% {
    	-webkit-transform: rotate(180deg) translateY(-33px);   
    }

    100% {
       -webkit-transform: rotate(180deg) translateX(50px) translateY(-33px);
    }
}

@keyframes arrowReturn {
    0% {
      transform: rotate(180deg);
    }

    50% {
      transform: rotate(0deg);  
    }

    100% {
      transform: rotate(0deg);
    }
}
@-webkit-keyframes arrowReturn {
    0% {
      -webkit-transform: rotate(180deg);
    }

    50% {
      -webkit-transform: rotate(0deg);  
    }

    100% {
      -webkit-transform: rotate(0deg);
    }
}
@each $royal in alfred athelstan canute edgar edmund edmund2 edred edward-elder edward-martyr edwardconfessor egbert ethelred-unready hardicanute harold1 harold2 offa {

  .royal .#{$royal} {
    background-image: url('../images/royals/anglo-saxon/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry1 stephen william1 william2 {

  .royal .#{$royal} {
    background-image: url('../images/royals/normans/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry2 richard1 john {

  .royal .#{$royal} {
    background-image: url('../images/royals/angevins/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry3 edward1 edward2 edward3 richard2 {

  .royal .#{$royal} {
    background-image: url('../images/royals/plantagenets/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry4 henry5 henry6 {

  .royal .#{$royal} {
    background-image: url('../images/royals/lancastrians/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in edward4 edward5 richard3 {

  .royal .#{$royal} {
    background-image: url('../images/royals/yorkists/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry7 henry8 edward6 mary1 elizabeth1 {

  .royal .#{$royal} {
    background-image: url('../images/royals/tudors/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in james1 charles1 charles2 james2 william3 anne {

  .royal .#{$royal} {
    background-image: url('../images/royals/stuarts/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in george1 george2 george3 george4 william4 victoria {

  .royal .#{$royal} {
    background-image: url('../images/royals/hanoverians/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in edward7 {

  .royal .#{$royal} {
    background-image: url('../images/royals/saxe-coburg-gotha/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in george5 edward8 george6 elizabeth2 {

  .royal .#{$royal} {
    background-image: url('../images/royals/windsor/#{$royal}.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}