.royal {
	margin: 0 auto;
	max-width: 650px;
	min-height: 300px;

	&:after {
		@include wrap-children;
	}
}


.line {
	background-color: #444;
	height: 300px;
	margin: 30px auto 0;
	padding: 60px 0;
	width: 1px;
}

svg {
  margin: 10px auto;
  max-width: 640px;
}

.path {
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
}

@each $royal in alfred athelstan canute edgar edmund edmund2 edred edward-elder edward-martyr edwardconfessor egbert ethelred-unready hardicanute harold1 harold2 offa {

  .royal .#{$royal} {
    background-image: url('../images/royals/anglo-saxon/#{$royal}.jpg');
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry1 stephen william1 william2 {

  .royal .#{$royal} {
    background-image: url('../images/royals/normans/#{$royal}.jpg');
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}

@each $royal in henry2 richard1 john {

  .royal .#{$royal} {
    background-image: url('../images/royals/angevins/#{$royal}.jpg');
    height: 225px;
    margin: 0 auto;
    width: 140px;
  }
}