$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
 
// colors
$deep-green: #0e141b;

// globals

body {
	color: #fff;
	text-align: center;
	font-family: Roboto;
	background-color: #7F8085;
	background-position: 0 0;
	background-repeat: no-repeat;
}

body h2 {
	font-size: 70px;
	font-weight: 300;
}

body h4 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 20px;
}

body p {
	font-family: Roboto, arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	max-width: 600px;
}

body section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

body li a:hover {
	text-decoration: none;
}

@media screen and (max-width: 768px) {

  body h2 {
  	font-size: 36px;
  }
  body p {
  	font-size: 13px;
  	width: 90%;
  }
}
.footer{
	background-color: #444;
	height: 40px;
	opacity: 0.8;
	margin-top: 100px;
	position: relative;
}
.citations {
	font-family: 'Old Standard TT', serif;

	left: 47%;

	a {
		color: #fff;
		font-size: 13px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-decoration: none;

	}
}
.browsehappy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	min-height: 50px;
	margin: 0;
	padding: 10px 0;
	background: $deep-green;
	z-index: 9999;
}

// app partials
@import "mixins";
@import "fonts";
@import "sectionAnimations";
@import "royals";
@import "nav";
@import "header";
@import "scroll";