// app partials
@import "mixins";
@import "fonts";
@import "sectionAnimations";
@import "royals";
@import "nav";
@import "header";
@import "scroll";

$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
 
// colors
$deep-green: #0e141b;

// globals

body {
	color: #fff;
	text-align: center;
	font-family: Roboto;
	background-color: #7F8085;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	z-index: 3;
}

body h2 {
	font-size: 70px;
	font-weight: 300;
}

body h4 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 20px;
}

body p {
	font-family: Roboto, arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	max-width: 600px;
}

body section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

body li a:hover {
	text-decoration: none;
}

@media screen and (max-width: 768px) {

  body h2 {
  	font-size: 36px;
  }
  body p {
  	font-size: 13px;
  	width: 90%;
  }
}
.parallax {
  perspective: 1px;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.header-section {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #EDEEF0;
  height: 35vh;
  width: 100%;
}

.title .headline {
	color: #222;
	font-family: 'Old Standard TT', serif;
	font-size: 48px;
	position: absolute;
	padding-left: 40px;
	top: 65%;
	z-index: 0;
}

@each $house in angevin anglo-saxon hanoverian lancastrian norman plantagenet protectorate-stuart saxe-coburg-gotha stuart tudor1 windsor yorkist1 {

  .house-image.#{$house} {
    background-image: url('../images/coat-of-arms/#{$house}.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 58%;
    position: absolute;
    width: 25%;
  }
}

.house-image.anglo-saxon {
	width: 493px;
	height: 334px;
	float: right;
	right: 5%;
	top: 39%;
	z-index: 10;
}


.footer{
	background-color: #444;
	height: 40px;
	opacity: 0.8;
	margin-top: 100px;
	position: relative;
}
.citations {
	font-family: 'Old Standard TT', serif;
	left: 47%;

	a {
		color: #fff;
		font-size: 13px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-decoration: none;

	}
}
.browsehappy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	min-height: 50px;
	margin: 0;
	padding: 10px 0;
	background: $deep-green;
	z-index: 9999;
}

