// app partials
@import "mixins";
@import "fonts";
@import "sectionAnimations";
@import "royals";
@import "nav";
@import "header";
@import "scroll";

$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
 
// colors
$deep-green: #0e141b;

// globals

body {
	color: #fff;
	text-align: center;
	font-family: Roboto;
	background-color: #7F8085;
	background-position: 0 0;
	background-repeat: no-repeat;
	position: relative;
	z-index: 3;
}

body h2 {
	font-size: 70px;
	font-weight: 300;
}

body h4 {
	font-size: 32px;
	font-weight: 400;
	margin-top: 20px;

	@media screen and (max-width: 767px) {
		font-size: 18px;
	}
}

body p {
	font-family: Roboto, arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 0 auto;
	max-width: 600px;
}

body section {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 0;
}

body li a:hover {
	text-decoration: none;
}

@media screen and (max-width: 768px) {

  body h2 {
  	font-size: 36px;
  }
  body p {
  	font-size: 13px;
  	width: 90%;
  }
}

.desktop {
	display: block;

	@media screen and (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 767px) {
		display: block !important;
	}
}
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.header-section {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #EDEEF0;
  height: 50vh;
  width: 100%;
}

.title .headline {
	color: #222;
	font-family: 'Mauritius', serif;
	font-size: 48px;
	position: absolute;
	padding-left: 40px;
	top: 65%;
	z-index: 0;
}

@each $house in anglo-saxon norman angevin plantagenet lancastrian yorkist1 tudor1 stuart protectorate-stuart hanoverian saxe-coburg-gotha windsor {

  .house-image.#{$house} {
    background-image: url('../images/coat-of-arms/#{$house}.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 58%;
    position: absolute;
    width: 25%;
	float: right;
	right: 5%;
	top: 39%;
	z-index: 10;
  }
}

.house-image.anglo-saxon {
	width: 493px;
	height: 334px;
}

.house-image.norman {
	height: 330px;
	width: 300px;
}

.house-image.angevin,
.house-image.plantagenet,
.house-image.lancastrian,
.house-image.yorkist1 {
	height: 359px;
	width: 308px;
	top: 33%;
}

.house-image.tudor1,
.house-image.stuart,
.house-image.hanoverian,
.house-image.saxe-coburg-gotha {
	height: 426px;
	width: 426px;
}
.house-image.windsor {
	width: 280px;
	height: 355px;
	top: 25%;
}
.house-image.tudor1 {
	top: 19%;
}
.house-image.stuart,
.house-image.hanoverian,
.house-image.saxe-coburg-gotha {
	top: 18%;
}

/* mobile/tablet screen */
@media screen and (max-width: 767px) {

	.parallax {
		height: 70vh;
	}

	.header-section {
		height: 55vh;
	}

	.title .headline {
		font-size: 38px;
		margin: 450px auto;
		text-align: left;
		z-index: 0;
		position: relative;

		&.plantagenet {
			margin: 390px auto;
		}
	}

	@each $house in anglo-saxon norman angevin plantagenet lancastrian yorkist1 tudor1 stuart protectorate-stuart hanoverian saxe-coburg-gotha windsor {

	  .house-image.#{$house} {
	    height: 58%;
	    margin: 0 auto;
	    position: relative;
	    right: 0;
	    width: 25%;
		top: 39%;
		z-index: 10;
	  }
	}
	.house-image.anglo-saxon {
		width: 247px;
		height: 167px;
	}

	.house-image.norman {
		height: 165px;
		width: 150px;
	}

	.house-image.angevin,
	.house-image.plantagenet,
	.house-image.lancastrian,
	.house-image.yorkist1 {
		height: 180px;
		width: 154px;
		top: 33%;
	}

	.house-image.angevin,
	.house-image.yorkist1 {
		top: 40%;
	}

	.house-image.plantagenet {
		top: 47%;
	}

	.house-image.lancastrian {
		top: 59%;
	}

	.house-image.hanoverian {
		top: 52%;
	}

	.house-image.tudor1,
	.house-image.stuart,
	.house-image.hanoverian,
	.house-image.saxe-coburg-gotha {
		height: 213px;
		width: 213px;
	}
	.house-image.windsor {
		width: 140px;
		height: 178px;
		top: 42%;
	}	
}

.footer{
	background-color: #444;
	height: 40px;
	opacity: 0.8;
	margin-top: 100px;
	position: relative;
}
.citations {
	font-family: 'Mauritius', serif;
	left: 47%;

	a {
		color: #fff;
		font-size: 13px;
		padding-bottom: 20px;
		padding-top: 20px;
		text-decoration: none;

	}
}
.browsehappy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: none;
	min-height: 50px;
	margin: 0;
	padding: 10px 0;
	background: $deep-green;
	z-index: 9999;
}

@media screen and (max-width: 500px) {

	.parallax {
		height: 50vh;
	}
	
	.title .headline {
		float: left;
		max-width: 50%;
	}
}